@font-face {
    font-family: 'arsenalregular';
    src: url('/fonts/arsenal-regular.eot');
    src: url('/fonts/arsenal-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arsenal-regular.woff') format('woff'),
         url('/fonts/arsenal-regular.ttf.gz') format('truetype');
    font-weight: normal;
    font-style: normal;

}