.navbar-default {
    background-color: #d77636;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
     color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
}