.navbar-default {
    background-color: #bead49;
}

.navbar-default .navbar-brand {
    color: #555;
}

.navbar-default .navbar-brand:hover {
    color: #000;
}

.navbar-default .navbar-nav > li > a {
     color: #555;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
}