.index-sections {
    margin-bottom: 20px;
}

.index-sections a {
    min-height: 50px;
    color: #007f7f;
}

.index-sections i {
    margin-bottom: 10px;
}

/***************************************************************************/

.navbar-default {
    background-color: #007f7f;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #333;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}
