body{
	background-color: #fcfcfc;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'arsenalregular', sans-serif;
}

.menu-title {
    color: #000;
    font-family: 'arsenalregular', Helvetica, Arial, sans-serif;
}

/***************************************************************************/

.navbar {
    margin: 0 -20px;
    border-radius: 0;
    background-color: #ddd;
    border: none;
}

.navbar-default .navbar-brand {
    color: #555;
}

.navbar-default .navbar-brand:hover {
    color: #333;
}

.navbar-default .navbar-nav > li > a {
    color: #666;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #333;
}

/***************************************************************************/

.content-container {
    padding: 0 20px 20px;
    margin: 0 5px 10px;

    border: 1px #ccc solid;
    border-top: none;
    border-radius: 1px;

    background-color: #fff;
}

/***************************************************************************/

.post-date {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    color: #555;
    border: 1px #555 solid;
    border-radius: 5px;
}

.article-item .post-date {
    font-size: 1em;
    color: #059;
    border-color: #059;
}

.article-item a {
    font-size: 1.2em;
}

/***************************************************************************/

.article-header {
    margin-top: 20px;
}

.article-title {
    font-family: 'arsenalregular', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.article-date {
    margin-top: 20px;
    float: right;
}

/***************************************************************************/

.sub-header {
    font-size: 2em;
    margin: 20px 20px 40px;
    text-align: center;
    font-family: 'arsenalregular', Helvetica, Arial, sans-serif;
    color: #555;
}