
.post-date {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 1em;
    color: #555;
    border: 1px #555 solid;
    border-radius: 5px;
}

.article-item .post-date {
    font-size: 1em;
    color: #059;
    border-color: #059;
}

.article-item a {
    font-size: 1.2em;
}

/***************************************************************************/

.article-header {
    margin-top: 20px;
}

.article-title {
    font-family: 'arsenalregular', Helvetica, Arial, sans-serif;
    font-size: 2em;
}

.article-date {
    margin-top: 20px;
    float: right;
}

/***************************************************************************/

.sub-header {
    font-size: 2em;
    margin: 20px 20px 40px;
    text-align: center;
    font-family: 'arsenalregular', Helvetica, Arial, sans-serif;
    color: #555;
}