---
layout: base
title: Code More
description: Code More - сайт о программировании
---

<link rel="stylesheet" href="css/index.css">

<div class="container">

    <h1 class="code-more">Code More!</h1>

    <!-- Дополнительные разделы -->
    <div class="text-center mb-5">
        <div>
            <a href="/catalog" class="text-secondary">Каталог ссылок</a>
            &middot;
            <a href="/catalog/online-judge" class="text-secondary">Online judge</a>
        </div>
        <div>
            <a href="/pskov" class="text-success">Олимпиадное программирование в ПсковГУ</a>
        </div>
    </div>

    <ul class="list-group mb-5">
        {% for post in site.posts %}
            <li class="list-group-item">
                <div>
                    <a href="{{ post.url }}" class="text-secondary">{{ post.title }}</a>
                </div>
                <div class="text-secondary">
                    {{ post.date | date: '%d.%m.%Y' }}
                    {% if post.author %}
                        - {{ post.author }}
                    {% endif %}
                    {% if post.section %}
                        -
                        {% if post.section == "experimental" %}
                            <span class="text-info">Эксперименты</span>
                        {% elsif post.section == "mathematiques-tasks" or post.section == "mathematiques-tasks-other" %}
                            <span class="text-secondary">Международный Чемпионат Математических и Логических Игр</span>
                        {% elsif post.section == "mc" %}
                            <span class="text-primary">Микроконтроллеры</span>
                        {% elsif post.section == "programming" %}
                            <span class="text-primary">Программирование - {{ post.language }}</span>
                        {% elsif post.section == "pskov" or post.section == "pskov-tasks" or post.section == "pskov-documentation" or post.section == "pskov-achievments" %}
                            <span class="text-success">Олимпиадное программирование в Псков ГУ</span>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="text-center">
    {% include footer.html %}
</div>
