<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="yandex-verification" content="173be2348be82a4a" />

<meta name="title" content="{{ page.title }}">

{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}

{% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
{% endif %}

<meta name="og:title" content="{{ page.title }}">
<meta name="og:url" content="https://codemore.ru{{ page.url }}">
<meta name="og:locale" content="ru_RU">

{% if page.description %}
    <meta name="og:description" content="{{ page.description }}">
{% endif %}

{% if page.preview_image %}
    <meta name="og:image" content="https://codemore.ru{{ page.preview_image }}">
{% endif %}

{% if page.preview_image %}
    <meta property="twitter:card" content="summary_large_image">
{% else %}
    <meta property="twitter:card" content="summary">
{% endif %}

<meta property="twitter:url" content="https://codemore.ru{{ page.url }}">
<meta property="twitter:title" content="{{ page.title }}">

{% if page.description %}
    <meta property="twitter:description" content="{{ page.description }}">
{% endif %}

{% if page.preview_image %}
    <meta property="twitter:image" content="https://codemore.ru{{ page.preview_image }}">
{% endif %}

<link href="/favicon.png" rel="icon" type="image/x-png"/>
