<div class="text-center">
    <a href="/" class="code-more">
        Code More!
    </a>
</div>

<div class="text-center mb-5">
    <div>
        <a href="/catalog" class="section-catalog">Каталог ссылок</a>
        &middot;
        <a href="/catalog/online-judge" class="section-catalog">Online judge</a>
    </div>
    <div>
        <a href="/pskov/" class="section-pskov">Олимпиадное программирование в ПсковГУ</a>
    </div>
    <div>
        <a href="/mathematiques/" class="section-mathematiques">Международный Чемпионат Математических и Логических Игр</a>
    </div>
</div>
