<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand menu-title" href="/">Code More!</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Разделы<span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {% include sections.html %}
                </ul>
            </li>
            <li><a href="/catalog">Каталог ссылок</a></li>
            <li><a href="/catalog/online-judge">Online judge</a></li>
        </ul>

    </div>
</nav>