---
layout: page-base
title: Микроконтроллеры
---

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/mc.css">

<div class="sub-header">{{ page.title }}</div>

{% for post in site.posts %}
	{% if post.section == 'mc' %}
		<p class="article-item">
            <span class="post-date">{{ post.date | date: '%d.%m.%Y' }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.author %}
                <span class="text-info"> / {{ post.author }}</span>
            {% endif %}
		</p>
	{% endif %}
{% endfor %}