---
layout: page-base
title: Олимпиадное программирование в Псков ГУ
---

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/pskov.css">

<div class="sub-header">{{ page.title }}</div>

<!-- Разделы -->
<ul class="nav nav-pills nav-justified index-sections">
    <li>
        <a href="/pskov/achievments"><i class="fa fa-certificate"></i> Достижения</a>
    </li>
    <li>
        <a href="/pskov/photo"><i class="fa fa-users"></i> Фотографии</a>
    </li>
    <li>
        <a href="/pskov/documentation"><i class="fa fa-file-text-o"></i> Документация</a>
    </li>
    <li>
        <a href="/pskov/tasks"><i class="fa fa-puzzle-piece"></i> Задачи</a>
    </li>
</ul>

<!-- Олимпиада ПсковГУ -->
<div class="panel panel-default">
    <div class="panel-body">
        <h2>Квалификационный тур олимпиады ПсковГУ по спортивному программированию</h2>

        <div class="row">
            <div class="col-md-8">
                <p>
                    <strong>Цель мероприятия:</strong>
                </p>
                <p>
                    Определение 10 участников, которые будут приглашены в 2022 году для участия в очном туре.
                </p>
                <p>
                    <strong>Дата проведения:</strong> 25.12.2021
                </p>
                <p>
                    <strong>Время проведения:</strong>
                </p>
                <ul>
                    <li>10:00 - 10:40 - Информация о соревновании (zoom)</li>
                    <li>11:00 - 12:00 - <a href="http://contest.codemore.ru/cgi-bin/new-client?contest_id=1">Пробный тур</a></li>
                    <li>12:30 - 15:30 - <a href="http://contest.codemore.ru/cgi-bin/new-client?contest_id=2">Основной тур</a></li>
                    <li>16:00 - 16:40 - Разбор задач (zoom)</li>
                </ul>

                <h3>Регистрация</h3>
                <p>
                    Для регистрации необходимо сообщить
                    фамилию, имя, отчество, номер группы, номер действующего мобильного телефона и адрес электронной почты,
                    предпочитаемый язык и среду программирования
                    на кафедру ИКТ (ул. Льва Толстого, д. 4, корп. 2, ауд. 26),
                    или на е-mail <a href="mailto:kafikt@pskgu.ru">kafikt@pskgu.ru</a>,
                    или по телефону <a href="tel:797699">79-76-99</a>.
                </p>
                <p>
                    Регистрация нужна для проведения организационных и технических мероприятий.
                </p>
                <p>
                    <strong>Регистрация открыта до 24.12.2021 включительно</strong>
                </p>

                <h3>Языки программирования и компиляторы</h3>
                <p>
                    В проверяющей системе доступны:
                </p>
                <ul>
                    <li>fpc - Free Pascal 3.0.4</li>
                    <li>gcc - GNU C 9.3.0</li>
                    <li>g++ - GNU C++ 9.3.0</li>
                    <li>python - Python 2.7.18</li>
                    <li>python3 - Python3 3.8.2</li>
                </ul>

                <h3>Материалы</h3>
                <p>
                    Условия задач прошлых лет можно найти в разделе <a href="/pskov/tasks">Задачи</a>.
                </p>
                <p>
                    Познакомиться с проверяющей системой и подготовиться к олимпиаде можно в <a href="http://ejudge.pskovedu.ru/cgi-bin/new-client?contest_id=12">Тренировке</a>.
                </p>
                <p>
                    <a href="/docs/pskov/PskovSU-Rules-2021.pdf">Правила олимпиады</a>
                </p>
                <p>
                    <a href="https://ejudge.ru/wiki/index.php/Вердикты_тестирования">Сообщения проверяющей системы</a>
                </p>
                
                <p>
                    <a href="http://www.cplusplus.com/">Документация по C/C++</a>
                </p>
                <p>
                    <a href="https://docs.oracle.com/javase/7/docs/api/index.html">Документация по Java</a>
                </p>
                <p>
                    <a href="https://www.freepascal.org/docs-html/current/ref/ref.html">Документация по Pascal</a>
                </p>
                <p>
                    <a href="https://docs.python.org/3/">Документация по Python3</a>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/img/pskov-qualification-2022.jpg" alt="Олимпиада"/>
            </div>
        </div>

    </div>
</div>

<!-- Статьи -->
<!--{% for post in site.posts %}-->
<!--	{% if post.section == 'pskov' %}-->
<!--	<p class="article-item">-->
<!--			<span class="post-date">{{ post.date | date: '%d.%m.%Y' }}</span>-->
<!--			<a href="{{ post.url }}">{{ post.title }}</a>-->
<!--			{% if post.author %}-->
<!--                <span class="text-info"> / {{ post.author }}</span>-->
<!--			{% endif %}-->
<!--	</p>-->
<!--	{% endif %}-->
<!--{% endfor %}-->
