---
layout: base
title: Олимпиадное программирование в Псков ГУ
---

<div class="page-header text-center">
<h2>{{ page.title }}</h2>
</div>

<h3>Разделы:</h3>
<p><a href="/pskov/achievments">Достижения</a></p>
<p><a href="/pskov/photo">Фотографии</a></p>
<p><a href="/pskov/documentation">Документация</a></p>
<p><a href="/pskov/tasks">Задачи</a></p>
<br />

{% for post in site.posts %}
	{% if post.section == 'pskov' %}
	<p>
			{{ post.date | date_to_string }}
			» <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
			{% if post.author %}
			 - <span class="text-info">{{ post.author }}</span>
			{% endif %}
	</p>
	{% endif %}
{% endfor %}
