---
layout: page-base
title: Международный чемпионат математических и логических игр
---

<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/mathematiques.css">

<div class="sub-header">{{ page.title }}</div>

<!-- Разделы -->
<ul class="nav nav-pills nav-justified index-sections">
    <li>
        <a href="/mathematiques/achievments"><i class="fa fa-certificate"></i> Достижения</a>
    </li>
    <li>
        <a href="/mathematiques/photo"><i class="fa fa-users"></i> Фотографии</a>
    </li>
    <li>
        <a href="/mathematiques/other"><i class="fa fa-file-text-o"></i> Прочее</a>
    </li>
    <li>
        <a href="/mathematiques/tasks"><i class="fa fa-puzzle-piece"></i> Задачи</a>
    </li>
</ul>

<!-- Статьи -->
{% for post in site.posts %}
	{% if post.section == 'mathematiques' %}
	<p class="article-item">
			<span class="post-date">{{ post.date | date: '%d.%m.%Y' }}</span>
			<a href="{{ post.url }}">{{ post.title }}</a>
			{% if post.author %}
                <span class="text-info"> / {{ post.author }}</span>
			{% endif %}
	</p>
	{% endif %}
{% endfor %}
