<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/syntax.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- JavaScript -->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
	<title>{{ page.title }}</title>
</head>
<body>
<div class="page-header text-center">
	<h1>Code More<br/>
	    <small>[исправлено и дополнено]</small></h1>
	{% include menu.html %}
</div>
<div class="panel panel-default centered">
	<div class="panel-body">
	{{ content }}
	</div>
</div>
<hr />
<div class="centered text-center">
<small>© Code More Team, 2014<br />
<a href="https://github.com/n-at" target="_blank">GitHub</a></small>
</div>
</body>
</html>