<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<link href="/favicon.png" rel="icon" type="image/x-png"/>
	<!-- CSS -->
    <link rel="stylesheet" href="/css/arsenal.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
	<link rel="stylesheet" href="/css/styles.css">
	<!-- JavaScript -->
	<script src="http://yandex.st/jquery/1.10.2/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	
	<title>{{ page.title }}</title>
</head>
<body>

{{content}}

</body>
</html>
